CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Build Artifacts
*.a
*.so
*.elf

# vlang
!V/Makefile

# CSharp
CSharp/**/bin/
CSharp/**/obj/
CSharp/.vs/